/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.card .card-image img {
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 5%;
      right: 0;
      top: 10px;
      bottom: 0;
      max-width: 240px;
      width: auto;
      height: auto;
}
    

.card .card-title {
      font-size: 18px;
}


label {
  font-size: 1.2rem;
}
mark{
      background: #d3dd69;
}

.font-red{
      color:red;
}

.font-orange{
      color:orange;
}

.card .card-title {
      font-size: 16px;
      line-height: 18px !important;
}

.context-padding{
      padding-top: 5% !important;
}

.line-padding{
      padding-top: 1% !important;
}

.bottom-margin{
      margin-top: -6% !important;
}

.card .card-reveal {
      width: 103% !important;
      margin-left: -10% !important;
}

.gray{
      color : #808080;
}
.card .card-image img {
      width: 90% !important;
}

.card.small {
      width: 90% !important;
}
 .nav-wrapper form, nav .nav-wrapper form .input-field{
      height: 100%;
}
