﻿<!DOCTYPE html>
<html>
<head>
    <title>MySQL Demo</title>
	<link rel="icon" href="/favicon.ico" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">      
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type='text/javascript'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular.min.js" type='text/javascript'></script>
	<script src="https://code.angularjs.org/1.3.9/angular-sanitize.js"></script>
	<script src="js/service.js" type='text/javascript'></script>
	<script src="js/filter.js" type='text/javascript'></script>
    <script src="js/app.js" type='text/javascript'></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body ng-app="demo" ng-controller="IndexController" ng-init="searchResult()" eui-enabled="true">

  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field grey lighten-5">
			<input type="search" id="search" class="form-control validate" ng-keyup="searchResult()"
				   placeholder="Search hotels by name, city, features(like wifi, bar,swimming,etc)" ng-model="search.query" required />
            <!-- Phrase-MatchQuery on field 'title' -->	
            <!--input type="text"  id="search" class="form-control validate"  eui-query="ejs.MatchQuery('title', querystring).type('phrase')" ng-model="querystring" eui-enabled="querystring.length" /-->    

          <label for="search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close"></i>
        </div>
      </form>
    </div>
  </nav>
<p>&nbsp;</p>

<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col s12 m4 l2">

       	    <h5>Type</h5>
				<ul class="nav nav-list" ng-repeat="(key, value) in type">
					<li ng-repeat="(subkey, subvalue) in value">
						<label class="checkbox" ng-show="getNumber(subvalue)">
							<input type="checkbox" id="type_{{subkey}}" ng-model="search.type[subkey]" ng-click="searchResult()">
							<label for="type_{{subkey}}">{{subkey}} ({{subvalue}})</label>
						</label>
					</li>
				</ul>

			<h5>Facility</h5>
			<ul class="nav nav-list" ng-repeat="(key, value) in facility">
				<li ng-repeat="(subkey, subvalue) in value">

					<label class="checkbox" ng-show="getNumber(subvalue)">
						<input type="checkbox" id="facility_{{subkey}}" ng-model="search.facility[subkey]" ng-click="searchResult()">
						<label for="facility_{{subkey}}">{{subkey}} ({{subvalue}})</label>
					</label>
				</li>
			</ul>

            <h5>City</h5>
				<ul class="nav nav-list">
					<li ng-repeat="data in city">
						<label class="checkbox" ng-if="data.total">
							<input type="checkbox" id="city_{{data.city_hotel}}" ng-model="search.city[data.city_hotel]" ng-click="searchResult()">
							<label for="city_{{data.city_hotel}}">{{data.city_hotel}} ({{data.total}})</label>
						</label>
					</li>
				</ul>
			<h5>Ranking</h5>
				<ul class="nav nav-list">
					<li ng-repeat="data in rank">
						<label class="checkbox">
							<input type="checkbox" id="city_{{data.class}}" ng-model="search.class[data.class]" ng-click="searchResult()">
							<label for="city_{{data.class}}">{{data.class}} ({{data.total}})</label>
						</label>
					</li>
				</ul>
        </div>

  <div class="col s12 m8 l10 grey lighten-4">

	<div class="row">
	<div class="col s6">
	    <h5>Results</h5>
	    <p>{{(total | number) || 0}} results ({{exeTime || 0}}ms)</p>
	</div>
		<!--
            <div class="col s12">
            <div class="right" eui-sort="ejs.Sort('class').order('desc')" eui-enabled="true">
                Sort by:
                <a class="btn btn-default" ng-click="sorting.enabled=true" role="button">Ranking</a>
                <a class="btn btn-default" ng-click="sorting.enabled=false" role="button">Relevance</a>
                <br/>
            </div>
        	</div>
        -->
    </div>


    <section>
		<div ng-show="loader" class="text-center" style="z-index: 10;position: absolute;margin-left: 25%;margin-top: 10%;">
			<img src="public/img/loadder.gif"/>
		</div>
		<article ng-repeat='doc in result'>

		<div class="col s10 m6 l3">
		  <div class="card small grey lighten-5">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" ng-src={{doc.photo_url}} alt="{{doc.name}}">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">
					{{doc.name}}
					<i class="mdi-navigation-more-vert right"></i></span>

				<p><i class="fa fa-star font-orange" ng-repeat="t in getTimes(doc.class) track by $index"></i></p><br/>
				<address>{{doc.address}}</address>
				<div class="bottom-margin">
					<p>
						<b> Price Starts at : </b>
						<strong ng-bind-html="doc.currencycode | icon:this : 'gray'"></strong>
						{{doc.minrate}}

					</p>
				</div>

			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{doc.name}}<i class="mdi-navigation-close right"></i></span>

				<p class="context-padding">{{doc.desc_en}}</p><br/>
				<strong>No. of Rooms:</strong> {{doc.nr_rooms}}<br/>
				<a target="_blank" ng-href="{{doc.hotel_url}}">Hotel Link</a>
			   </div>
			</div>
			   </div>
			</div>

		  </article>
     </section>


   </div>
		<p>&nbsp;</p>
		<ul class="pager" ng-show="total >= 11">
			<li><a ng-hide="page == 1" ng-click="getPrevious()" href="javascript:void(0);">Previous</a></li>
			<li><a ng-click="getNext()" href="javascript:void(0);">Next</a></li>
		</ul>

  </div>
</div>

</body>
</html>
